.tarjetaEpisodios{
    background-color: rgba(255, 255, 255, 0.772);
    color: #242655;
    margin-bottom: 20px;
    border-radius: 30px;
    display: grid;
    grid-template-areas: 
    'img'
    'texto'
    'texto'
    'boton';
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    min-height: 150px;
    min-width: 300px;
}

.tarjetaEpisodios:hover {
    background-color:  rgba(197, 244, 102);
    transform: scale(1.02); 
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    text-shadow: 2px 2px 4px rgba(36, 38, 85, 0.5);
    font-weight: bold;
}

.boton-episodios {
    margin: 0 10px; 
    background-color: rgb(36, 38, 85) ;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.boton-episodios:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}